@font-face {
    font-family:"Montserrat Light";
    src: url("static/fonts/Montserrat-Light.woff") format("woff");
    
}


body{
    margin: 0;  
    -webkit-font-smoothing: antialiased;
}



.page-progress{
    z-index: 100;
    position: absolute;
    
}
#home{
    background: #b91744;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#b91744, #d22052d4, #b91744); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#b91744, #d22052d4, #b91744);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1200px) {
    #tea{
        margin-top: 20vh;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: auto 1000px auto;
        grid-template-areas: '.. main-content ..';
        height: 100%;
    }
    


.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main-content;
}
.homepage-text{
    margin: auto;
    font-size: 20px;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    width: 416px;
    
    color: white;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    
}





#header{
    
    position: fixed;
    z-index: 100;
    /* right: 100px; */
    top: 20px;
}

#header li{
    display: inline;
    margin-left: 15px;
    
}
#header a{
    text-decoration: none;
    color: white;
    
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 15px;
}
#header ul{
    float: right;
}
#logoWrapper{
    margin: auto;
    position: relative;
    
    
    display: grid;
    grid-area: logoWrapper;
    grid-template-columns: '.. logo ..';
    
    /* background-color: rgb(32, 139, 125); */
    width: 770px;
    height: 570px;
}
#logo{
    width: 500px;
    grid-area: logo;
    opacity: 0.9;
}
#logoWrapper a{
    cursor: pointer;
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    
}

#logoWrapper a:hover{
    color: #4aae26;
}
#kavezo{
    position: absolute;
    top: 55px;
    left: 120px;
    
}
#teazo{
    position: absolute;
    right: 140px;
    top: 55px;
}
#dolgozo{
    position: absolute;
    top: 280px;
    left: 40px;
}
#tanulo{
    position: absolute;
    right: 55px;
    top: 280px;
}
#lazulo{
    position: absolute;
    top: 525px;
    left: 360px
}

#about{
    background-color: rgb(80, 206, 122);
}

#about h1{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
    
}
#about h4{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-style: italic;
    float: right;
}

#contact h1{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
    
}
#contact h4{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-style: italic;
    float: right;
}

#coffefe{
    background-color: #50ce7a;
}

.vertical-text-with-line-left{
    position: relative;

    width: 40px;
    height: 327px;
    border-right: 1px solid white;
    display: inline-block;
}

.vertical-text-with-line-right{
    position: relative;
float: right;
    width: 40px;
    height: 250px;
    border-left: 1px solid white;
}

.vertical-text-with-line-left h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 0px;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 3px;
    color: white;
    line-height: 0.839;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 31px;
}

.vertical-text-with-line-right h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 0px;
    margin: 0;
    position: absolute;
    top: 35px;
    left: 8px;
    color: white;
    line-height: 0.839;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 31px;
}

.image-to-left-text-right{

    height: 327px;
    width: calc(100% - 45px);
    display: inline-block;
    position: relative;
}
.image-to-left-text-right img{
    margin-left: 36px;
}


.image-to-left-text-right h2{
    color: white;
    display: inline-block;
    font-size: 22px;
    margin: 0;
    font-family: 'Montserrat Regular';
    font-weight: normal;
    line-height: 1.182;
    text-align: left;
    position: absolute;
    margin-left: 57px;
    letter-spacing: 3.5px;
 
}
.image-to-left-text-right p{
    display: inline-block;
    position: absolute;
    top: 55px;
    margin: 0;
    margin-left: 57px;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    line-height: 1.5;    
    font-size: 19px;
    color: white;
    letter-spacing: 1.5px;
    text-align: justify;
}


.image-to-right-text-left{

    height: 327px;
    width: calc(100% - 45px);
    display: inline-block;
    position: relative;
}
.image-to-right-text-left img{
    margin-top: 26px;
    margin-right: 20px;
    float: right;
}

.image-to-right-text-left h2{
    color: white;
    display: inline-block;
    font-size: 22px;
    margin: 0;
    font-family: 'Montserrat Regular';
    font-weight: normal;
    line-height: 1.182;
    text-align: left;
    position: absolute;
  
    letter-spacing: 3.5px;
}

.image-to-right-text-left p{
    display: inline-block;
    position: absolute;
    top: 50px;
    margin: 0;
   
    font-family: 'Montserrat Light';
    font-weight: lighter;
    line-height: 1.5;    
    font-size: 19px;
    color: white;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 675px;
}

  
  #teaWrapper{
      margin-top: 80px;
  }
} 

@media screen and (max-width: 425px) {
      #home{
          height: 900px;
      }

      .main-content{
        /* display: grid; */
        flex-direction: column;
        justify-content: center;
        grid-area: main-content;
    }


    .homepage-text{
        margin: auto;
        margin-top: 50px;
        font-family: 'Open Sans', sans-serif;
        font-weight: light;
        line-height: 1.4;    
        width: 283px;
        
        color: white;
        position: relative;
        text-align: justify;
        text-justify: auto;
        letter-spacing: 1.5px
        /* text-align: justifyLeft; */
        
    }

    #logoWrapper{
        margin: auto;
        position: relative;
        display: grid;

        width: 100%;
        height: 500px;
    }
    #logo{
        width: 305px;
        grid-area: logo;
        opacity: 0.9;
    }
    #logoWrapper a{
        cursor: pointer;
        color: white;
        font-family: 'Montserrat Light';
        font-weight: lighter;
        font-size: 16px;
        text-decoration: none;
        
    }
    
    #logoWrapper a:hover{
        color: #4aae26;
    }
    #kavezo{
        position: absolute;
        top: 80px;
        left: 50px;
        
    }
    #teazo{
        position: absolute;
        right: 60px;
        top: 80px;
    }
    #dolgozo{
        position: absolute;
        top: 330px;
        left: 20px;
    }
    #tanulo{
        position: absolute;
        right: 30px;
        top: 330px;
    }
    #lazulo{
        position: absolute;
        top: 400px;
        left: 175px
    }
    .vertical-text-with-line-left{
        position: absolute;
        width: 31px;
        height: 156px;
        left: 0;
        top: 50px;
        border-right: 1px solid white;
        display: inline-block;
    }
    .vertical-text-with-line-left h2{
        writing-mode: vertical-rl;
        text-orientation: upright;
        margin-left: 0px;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 7px;
        color: white;
        line-height: 0.839;
        font-family: 'Montserrat Light';
        font-weight: lighter;
        font-size: 18px;
    }

    



    .mobile-vertical-text-with-image{
        position: relative;
    
    }

    .mobile-vertical-text-with-image img{
        height: 256px;
        width: auto;
        display:block;
        margin:auto;
    }



    .mobile-text{
     
        padding: 20px;
        padding-top: 31px;
        padding-bottom: 0;
 
    }
    .mobile-text h2{
        color: white;
        font-size: 5vw;
        margin: 0;
        font-family: 'Montserrat Regular';
        font-weight: normal;
        line-height: 1.182;
        text-align: center;
      
      
        letter-spacing: 3.5px;
    }
    .mobile-text p{
        display: block;
        position: relative;

       
        font-family: 'Open Sans', sans-serif;
        font-weight: light;
        line-height: 1.4;    
        font-size: calc(3vw + 0.3vh);
        color: white;
        letter-spacing: 1.5px;
        text-align: justify;
    
    }

    .mobile-vertical-text-with-image{
        position: relative;
    }

    /* Hambureger menu */

.header {
    /* background-color: #fff; */
    /* box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */
    position: fixed;
    width: 100%;
    z-index: 200;
  
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    line-height: 1.5;    
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: rgb(40, 207, 104)
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    position: absolute;
    width: 100%;
    max-height: 0;
 
    transition: max-height .2s ease-out;
    background: rgb(207, 40, 90);
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 40px 20px;
    position: relative;
    user-select: none;
    z-index: 201;
  }
  
  .header .menu-icon .navicon {
    background: rgb(255, 255, 255);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;

  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  /* /// */
  }
  @media only screen and (min-width: 425px) {
        .header .menu-btn {
    display: none;
  }
  #coffeWrapper{
    padding-top: 50px;
}
   
  }




  /* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 500px) and (max-width: 1200px) {
    #menu-btn{
        display: none;
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto 95% auto;
        grid-template-areas: '.. main-content ..';
        height: 100%;
    }
    
    .homepage-text {
        margin: auto;
        font-size: 17px;

        width: 354px;
        color: white;
    
    }

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main-content;
}
.homepage-text{
    margin: auto;
    font-size: 20px;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    width: 416px;
    
    color: white;
    position: relative;
    text-align: justify;
    text-justify: inter-word;
    
}





#header{
    
    position: fixed;
    z-index: 100;
    /* right: 100px; */
    top: 20px;
}

#header li{
    display: inline;
    margin-left: 15px;
    
}
#header a{
    text-decoration: none;
    color: white;
    
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 15px;
}
#header ul{
    float: right;
}
#logoWrapper{
    margin: auto;
    position: relative;
    
    
    display: grid;
    grid-area: logoWrapper;
    grid-template-columns: '.. logo ..';
    
    /* background-color: rgb(32, 139, 125); */
    width: 600px;
    height: 570px;
}
#logo{
    width: 400px;
    grid-area: logo;
    opacity: 0.9;
}
#logoWrapper a{
    cursor: pointer;
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
    text-decoration: none;
    
}

#logoWrapper a:hover{
    color: #4aae26;
}
#kavezo{
    position: absolute;
    top: 80px;
    left: 60px;
    
}
#teazo{
    position: absolute;
    right: 80px;
    top: 80px;
}
#dolgozo{
    position: absolute;
    top: 280px;
    left: 0;
}
#tanulo{
    position: absolute;
    right: 20px;
    top: 280px;
}
#lazulo{
    position: absolute;
    top: 525px;
    left: 270px
}

#about{
    background-color: rgb(80, 206, 122);
}

#about h1{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
    
}
#about h4{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-style: italic;
    float: right;
}

#contact h1{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 20px;
    
}
#contact h4{
    color: white;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-style: italic;
    float: right;
}

#coffefe{
    background-color: #50ce7a;
}

.vertical-text-with-line-left{
    position: relative;

    width: 40px;
    height: 230px;
    border-right: 1px solid white;
    display: inline-block;
}

.vertical-text-with-line-right{
    position: relative;
float: right;
    width: 40px;
    height: 230px;
    border-left: 1px solid white;
}

.vertical-text-with-line-left h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 0px;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 3px;
    color: white;
    line-height: 0.839;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 25px;
}

.vertical-text-with-line-right h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-left: 0px;
    margin: 0;
    position: absolute;
    top: 35px;
    left: 8px;
    color: white;
    line-height: 0.839;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    font-size: 25px;
}

.image-to-left-text-right{

    height: 327px;
    width: calc(100% - 45px);
    display: inline-block;
    position: relative;
}
.image-to-left-text-right img{
    margin-left: 36px;
}


.image-to-left-text-right h2{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    font-family: 'Montserrat Regular';
    font-weight: normal;
    line-height: 1.182;
    text-align: left;
    position: absolute;
    margin-left: 57px;
    letter-spacing: 3.5px;
 
}
.image-to-left-text-right p{
    display: inline-block;
    position: absolute;
    top: 55px;
    margin: 0;
    margin-left: 57px;
    font-family: 'Montserrat Light';
    font-weight: lighter;
    line-height: 1.5;    
    font-size: 16px;
    color: white;
    letter-spacing: 1.5px;
    text-align: justify;
}


.image-to-right-text-left{

    height: 327px;
    width: calc(100% - 45px);
    display: inline-block;
    position: relative;
}
.image-to-right-text-left img{
    margin-top: 26px;
    margin-right: 20px;
    float: right;
}

.image-to-right-text-left h2{
    color: white;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    font-family: 'Montserrat Regular';
    font-weight: normal;
    line-height: 1.182;
    text-align: left;
    position: absolute;
  
    letter-spacing: 3.5px;
}

.image-to-right-text-left p{
    display: inline-block;
    position: absolute;
    top: 50px;
    margin: 0;
   
    font-family: 'Montserrat Light';
    font-weight: lighter;
    line-height: 1.5;    
    font-size: 16px;
    color: white;
    letter-spacing: 1.5px;
    text-align: justify;
    width: 425px;
}

  
  #tea{
      margin-top: 20vh;
  }
  
    
   
} 


@media only screen and (max-height: 850px) and (min-width: 768px){
  
    
    #tea{
        margin-top: 20vh;
    }
    #logoWrapper{
        height: 450px;
    }
    #logo{
        width: 400px;
    }
    .homepage-text {
        margin: auto;
        font-size: 17px;

        width: 354px;
        color: white;
    
    }
    #logoWrapper a {
       
        font-size: 16px;
  
    }

    #kavezo {
       
        top: 55px;
        left: 152px;
    }

    #teazo {
        position: absolute;
        right: 168px;
        top: 55px;
    }

    #dolgozo {
        position: absolute;
        top: 280px;
        left: 116px;
    }

    #tanulo {
        position: absolute;
        right: 129px;
        top: 280px;
    }

    #lazulo {
        position: absolute;
        top: 413px;
        left: 360px;
    }


    .vertical-text-with-line-left {
   
        height: 260px;
      
    }

    .vertical-text-with-line-left h2 {
      
        top: 25px;
        left: 7px;
       
        font-size: 26px;
    }
    .image-to-left-text-right {
        height: 260px;
       
    }

    .image-to-left-text-right img {
        margin-left: 36px;
        height: 100%;
    }
    .image-to-left-text-right p {
      
        top: 55px;
      
        margin-left: 57px;

        font-size: 16px;
        color: white;
        letter-spacing: 1.5px;
        text-align: justify;
    }

    .image-to-left-text-right h2 {
      
        font-size: 20px;
  
    }

    /* right */
    .vertical-text-with-line-right {
   
        height: 230px;
      
    }

    .vertical-text-with-line-right h2 {
      
        top: 25px;
        left: 7px;
       
        font-size: 26px;
    }
    .image-to-right-text-left img {
        margin-right: 36px;
        height: 80%;
    }

    .image-to-right-text-left {
        height: 230px;
      
    }

    .image-to-right-text-left p {
      
      
      
      

        font-size: 16px;
  
      
    }

    .image-to-right-text-left h2 {
      
        font-size: 20px;
  
    }
    
}


